.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: aquamarine;*/
}

.week-picker {
    width: 70%; /* TODO */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    /*background-color: rgb(252, 133, 118);*/
}
  
.arrow {
    border-radius: 50%;
    transition: background-color 0.2s;
    background-color: rgb(255, 255, 255);
}
  
.arrow:hover {
    background-color: #d3d3d3;
}

.calendar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*background-color: aqua;*/
}

.header-cell {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: rgb(233, 179, 109);*/
}

.day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    aspect-ratio: 1/1;
    margin: 6px 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    transition: background-color 0.2s, transform 0.15s;
    background-color: #d3d3d3;
}

.time-slot:hover {
    /*transform: scale(1.03);*/
    background-color: rgb(170, 189, 224);
}

.past {
    color: #a3a3a3;
    background-color: rgb(226, 226, 226);
}

.past:hover {
    background-color: rgb(226, 226, 226);
}
  