
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: aquamarine;*/
}

.confirmation2 {
  width: 240px;
  /*height: 481px;*/
  margin-left: 20px;
}

.week-picker {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  /*background-color: rgb(252, 133, 118);*/
}

.arrow {
  size: 25px;
  border-radius: 50%;
  transition: background-color 0.2s;
  background-color: rgb(255, 255, 255);
}
  
.arrow:hover {
  size: 25px;
  background-color: #d3d3d3;
}

.calendar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  /*background-color: aqua;*/
}

.header-cell {
  flex: 1;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: rgb(233, 179, 109);*/
}

.day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  aspect-ratio: 1/1;
  margin: 4px 8px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  transition: background-color 0.2s, transform 0.15s;
  background-color: rgb(218, 218, 218);
  /*background-color: #d3d3d3;*/
}

.time-slot:hover {
  /*transform: scale(1.03);*/
  background-color: rgb(104, 146, 185);
}

.time-slot-booked {
  background-color: rgb(248, 117, 117);
}

.time-slot-booked:hover {
  background-color: rgb(216, 98, 98);
}

.time-slot-past {
  color: #a3a3a3;
  background-color: rgb(226, 226, 226);
}

.time-slot-past:hover {
  background-color: rgb(226, 226, 226);
}

.time-slot-selected {
  background-color: rgb(115, 177, 212);
}

.time-slot-booked-user {
  background-color: rgb(113, 201, 113);
}

.time-slot-booked-user:hover {
  background-color: rgb(90, 160, 90);
}

@media only screen and (max-width: 1024px) {
  /*.calendar {
    width: 60vw;
    background-color: rgb(255, 162, 162);
  }

  .time-slot {
    width: calc(60vw * (70/610));
    aspect-ratio: 1/1;
    margin: 6px calc(60vw * (8/610));
  }*/
}

@media only screen and (max-width: 500px) {
  .calendar {
    width: 80vw;
    /*background-color: rgb(243, 227, 51);*/
  }

  .week-picker {
    width: 75%;
    font-size: 14px;
  }

  .header-cell {
    font-size: 10px;
  }

  .time-slot {
    width: calc(80vw * (70/430));
    aspect-ratio: 1/1;
    margin: 4px calc(80vw * (8/430));
    font-size: 12px;
  }
}
  
  