.app {
  width: 100%;
  max-width: 1024px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /*background-color: rgba(182, 252, 213, 0.26);*/
}

.app-header {
  width: 95%;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: #282c34;
  /*background-color: rgb(168, 41, 41);*/
}

.app-header h1, .app-header h2 {
  font-weight: 400;
  padding-top: 20px;
}